@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* shared css */

.font-inter {
    font-family: "Inter", sans-serif;
  }
  

/* header css */

.header {
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.7) 100%), url("assets/bg-image.jpg");
}

.header-container {
    padding-top: 50px;
    width: 80%;
    margin: auto;
}


.nav {
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    list-style: none;
    display: flex;
    gap: 70px;
    color: #fb9d5c;
}


.hero-content {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    height: 40%;
}

.hero-text-one{
    font-weight: 500;
    color: #fb9d5c;
}

.hero-text-two {
    padding-top: 20px;
    font-weight: 700;
    font-size: xx-large;
}

.hero-button-container {
    padding-top: 20px;
}

.hero-button {
    color: #212529;
    background-color: #fb9d5c;
    font-size: medium;
    font-weight: 600;
    width: 110px;
    height: 40px;
    border: 0;
    border-radius: 5px;
}

.logo-ul {
    list-style: none;
    display: flex;
    gap: 165px;
}

.box {
    display: flex;
    justify-content: center;
}